n8n/Flow_B_Results.json
{
  "name": "Voice Agent \u2014 Flow B (Results Receiver)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "voice-results",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook",
      "name": "Webhook: /voice-results",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        400
      ],
      "webhookId": "voice-results"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"ok\": true }",
        "options": {}
      },
      "id": "respond",
      "name": "Respond 200 OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        480,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "const b = $input.item.json.body || $input.item.json;\nconst lead = b.lead || {};\nconst booking = b.booking || {};\nconst outcome = (b.outcome || 'no_answer').toString().toLowerCase();\n\nconst statusMap = {\n  booked: 'Booked',\n  declined: 'Declined',\n  callback: 'Callback Requested',\n  voicemail: 'Voicemail',\n  no_answer: 'No Answer',\n  incomplete: 'Hung up',\n};\n\nlet transcriptText = (b.transcript_text || '').toString();\nif (!transcriptText && b.transcript) {\n  const items = b.transcript.items || b.transcript.messages || [];\n  transcriptText = items.map(t => {\n    const role = (t.role || t.type || '').toLowerCase();\n    const label = role === 'user' ? 'Prospect' : 'Agent';\n    let content = t.content || t.text || '';\n    if (Array.isArray(content)) content = content.map(c => c.text || c).join(' ');\n    return content ? `${label}: ${content}` : '';\n  }).filter(Boolean).join('\\n');\n}\n\nconst interested = (b.interested === true || outcome === 'booked') ? 'true' : 'false';\nconst followUp = (b.follow_up_required === true || outcome === 'callback') ? 'true' : 'false';\n\nconst meetingNote = booking.start_label ? ` | meeting: ${booking.start_label}` : '';\nconst meetLink = booking.meet_link ? ` | ${booking.meet_link}` : '';\n\nreturn [{\n  json: {\n    lead_id: lead.lead_id || '',\n    phone: lead.phone || '',\n    name: lead.name || '',\n    email: lead.email || '',\n    call_status: statusMap[outcome] || 'No Answer',\n    call_outcome: outcome,\n    summary: b.summary || '',\n    transcript_text: transcriptText,\n    notes: (b.summary || '') + meetingNote + meetLink,\n    interested,\n    follow_up_required: followUp,\n    duration_sec: b.duration_sec || 0,\n    meeting_time: booking.start_label || '',\n    meet_link: booking.meet_link || '',\n    booking_id: booking.booking_id || '',\n    last_updated: new Date().toISOString(),\n  }\n}];"
      },
      "id": "normalize-payload",
      "name": "Parse Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        400
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1QMFaVb1qLF-ymVsKRPo2goqM4qBSodux7PTWih2xEQQ",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Lead",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Lead ID": "={{ $json.lead_id }}",
            "Call Status": "={{ $json.call_status }}",
            "Call Outcome": "={{ $json.call_outcome }}",
            "notes": "={{ $json.notes }}",
            "Transcript": "={{ $json.transcript_text }}",
            "Last Updated": "={{ $json.last_updated }}"
          },
          "matchingColumns": [
            "Lead ID"
          ]
        }
      },
      "id": "sheets-update",
      "name": "Update CRM Row",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        720,
        400
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Xv56FMr5B7fHGuxY",
          "name": "Google Sheets account"
        }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "is-booked",
              "leftValue": "={{ $('Parse Payload').item.json.call_outcome }}",
              "rightValue": "booked",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "if-booked",
      "name": "Booked?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        960,
        400
      ]
    },
    {
      "parameters": {
        "sendTo": "hanzalatechnaptix@gmail.com",
        "subject": "Voice agent booked: {{ $('Parse Payload').item.json.name }} @ {{ $('Parse Payload').item.json.meeting_time }}",
        "emailType": "text",
        "message": "Lead: {{ $('Parse Payload').item.json.name }}\nPhone: {{ $('Parse Payload').item.json.phone }}\nEmail: {{ $('Parse Payload').item.json.email }}\n\nMeeting: {{ $('Parse Payload').item.json.meeting_time }}\nMeet link: {{ $('Parse Payload').item.json.meet_link }}\n\nSummary:\n{{ $('Parse Payload').item.json.summary }}\n\nTranscript:\n{{ $('Parse Payload').item.json.transcript_text }}",
        "options": {}
      },
      "id": "gmail-internal",
      "name": "Notify Owner",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1200,
        300
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "OOkRCfYnEsA8XEqg",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "is-callback",
              "leftValue": "={{ $('Parse Payload').item.json.call_outcome }}",
              "rightValue": "callback",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "if-callback",
      "name": "Callback?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1200,
        500
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1QMFaVb1qLF-ymVsKRPo2goqM4qBSodux7PTWih2xEQQ",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Lead",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Lead ID": "={{ $('Parse Payload').item.json.lead_id }}",
            "Call Status": "Follow-up",
            "Next Call At": "={{ $now.plus({ days: 1 }).toISO() }}"
          },
          "matchingColumns": [
            "Lead ID"
          ]
        }
      },
      "id": "sheets-schedule-callback",
      "name": "Schedule Callback",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        1440,
        500
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Xv56FMr5B7fHGuxY",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Flow B \u2014 Results Receiver\n\nWebhook POST /voice-results \u2190 agent.py N8N_RESULTS_WEBHOOK\n\nWrites: Call Status, Outcome, Notes, Transcript (full dialogue), Last Updated\n\nEnv: LEAD_SHEET_ID, OWNER_EMAIL",
        "height": 200,
        "width": 420,
        "color": 4
      },
      "id": "note",
      "name": "Flow B Notes",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        240,
        20
      ]
    }
  ],
  "connections": {
    "Webhook: /voice-results": {
      "main": [
        [
          {
            "node": "Respond 200 OK",
            "type": "main",
            "index": 0
          },
          {
            "node": "Parse Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Payload": {
      "main": [
        [
          {
            "node": "Update CRM Row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update CRM Row": {
      "main": [
        [
          {
            "node": "Booked?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Booked?": {
      "main": [
        [
          {
            "node": "Notify Owner",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Callback?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Callback?": {
      "main": [
        [
          {
            "node": "Schedule Callback",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    "voice-agent",
    "sip"
  ]
}